<div id="main" style="padding: 20px">
  

<div class="page-header">
  <h1>5Data <small>Example</small></h1>
</div>

<!-- Main   -->	
<div class="col">
	<div><p>Example: Node 1 to Node 2. Node 1 to Node 3. Node 1 to Node 4</p></div>
  <div><form class="form-horizontal" role="form">
<textarea class="form-control" rows="3"></textarea>
</form> <br/> </div>

  <div ><a href="images/node.svg"><img src="images/node.svg" height="600" width="600"/></a></div>
  
</div>
<!-- Main   -->		

<div>
<div class="col-md-3">
                    <div class="well sidebar-nav">
                        <strong>Colors</strong>
                        <ul class="list-group">
                        {{#each item in controller}}
                            <li class="list-group-item">{{item}}</li>
                        {{/each}}
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    {{outlet}}
                </div>   
    
</div>
</div>