<div class="page-header">
  <h1>5Data <small>Example</small></h1>
</div>

<!-- Main   -->	
<div class="col">
	<div><p>Example: Node 1 to Node 2. Node 1 to Node 3. Node 1 to Node 4</p></div>
  <div><form class="form-horizontal" role="form">
<textarea class="form-control" rows="3"></textarea>
</form> <br/> </div>

  
  
</div>
<!-- Main   -->		

<div>
	
{{#each item in controller}}
     <div id="node" class="node">{{item}}</div>
{{/each}}	
	
   
</div>

